body {
    background-color: #363B47;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body.home{
    background-image: url("../img/BackgroundImage.jpg");
}

#header {
    padding: 25px 40px 0 40px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

#menu ul li {
    display: inline-block;
    margin: 0 15px;
}

#menu ul li:last-child {
    margin-right: 0;
}

#menu a {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    line-height: 43px;
}

#menu.menudark a{
    color: #363B47;
}

#menu a.active{
    font-weight: 600;
}

#socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

#socials ul li {
    display: inline-block;
    margin: 0 7px;
}

#socials a {
    line-height: 43px;
    display: block;
    padding-top: 3px;
}

#titulo {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    color: white;
    margin-top: 40px;
    margin-bottom: 5px;
}

#titulo .name {
    color: #00FFB2;
}

#subtitulo {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 45px;
}

#central {
    padding-bottom: 60px;
    margin-top: 20vh;
    text-align: center;
}

#menu a:hover{
    color: black;
    background-color: #00FFB2;
}

#centro {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;

}

#centro .titulo2{
    font-size: 25px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 55px;
    
}

.underline{
    border-bottom: 3px solid #00FFB2;
}

#centro .subtitulo2{
    font-size: 16px;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 200;
}

#centro .subtitulo2 p{
    margin: 0;
}

h1 span{
    padding-bottom: 16px;
}

.icon {
    width: 112px;
    height: 112px;
    padding-top: 20px;
}

.icones{
    text-align: center;
    padding-top: 15px;
}

.icones h1{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 22px; 
    font-weight: 100;
    letter-spacing: 4px;
}

.icones p{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 30px;
}