@charset "UTF-8";


body {
    background-color: #363B47;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body.home{
    background-image: url("../img/BackgroundImage.jpg");
}

#header {
    padding: 25px 40px 0 40px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

#menu ul li {
    display: inline-block;
    margin: 0 15px;
}

#menu ul li:last-child {
    margin-right: 0;
}

#menu a {
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    text-decoration: none;
    line-height: 43px;
}

#menu.menudark a{
    color: #363B47;
}

#menu a.active{
    font-weight: 600;
}

#socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

#socials ul li {
    display: inline-block;
    margin: 0 7px;
}

#socials a {
    line-height: 43px;
    display: block;
    padding-top: 3px;
}

#titulo {
    font-size: 35px;
    color: white;
    margin-top: 40px;
    margin-bottom: 5px;
}

#titulo .name {
    color: #00FFB2;
}

#subtitulo {
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 45px;
}

#central {
    padding-bottom: 60px;
    margin-top: 20vh;
    text-align: center;
}

#menu a:hover{
    color: black;
    background-color: #00FFB2;
}

#centro {
    color: white;
    text-align: center;
}

#centro.contacts{
    padding-top: 120px;
    padding-bottom: 120px;
}

#centro .titulo2{
    font-size: 25px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 55px;
    text-transform: uppercase;
}

.underline{
    border-bottom: 3px solid #00FFB2;
}

#centro .subtitulo2{
    font-size: 20px;
    line-height: 28px;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 200;
}

#centro .subtitulo2 p{
    margin: 0;
}

h1 span{
    padding-bottom: 16px;
}

.icon {
    width: 112px;
    height: 112px;
    padding-top: 20px;
}

.icones{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.icones .grid-33{
    padding: 0 30px;
}

.icones h1{
    color: white;
    font-size: 22px; 
    font-weight: 100;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.icones p{
    color: white;
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 30px;
}

/**
    RESPONSIVE
 */
@media only screen and (max-width: 600px) {
    #header {
        padding: 25px 10px 0 10px;
    }
    #logo,
    #menu ul{
        text-align: center;
    }
    #menu{
        margin-top: 20px;
    }
    #menu ul li{
        margin: 0 5px;
    }
    #central {
        margin-top: 5vh;
        padding-left: 20px;
        padding-right: 20px;
    }
    #centro {
        padding-left: 20px;
        padding-right: 20px;
    }
}
